@font-face {
  font-family: "Aeonik-Bold";
  src: url("/fonts/AeonikProTRIAL-Bold.otf");
}

@font-face {
  font-family: "Aeonik-Regular";
  src: url("/fonts/AeonikProTRIAL-Regular.otf");
}

@font-face {
  font-family: "Aeonik-Light";
  src: url("/fonts/AeonikProTRIAL-Light.otf");
}

@font-face {
  font-family: "Space-Grotesk";
  src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}

:root {
  --bg-main: #FDFDFD;
  --black: #151515;
  --green-main: #6EE39D;
  --green-dark: #30B164;
  --green-light: #8BF8B7;
  --green-faint: #F8FFFB;
  --red-dark: #B81C38;
  --red-light: #FF8FAA;
  --red-faint: #FFF8FA;
  --grey-light: #E5E5E5;
  --grey-dark: #919299;
  --grey-waiting: #F1F5F6;
  --font-space: "Space-Grotesk";
  --font-aeonik-light: "Aeonik-Light";
  --font-aeonik-regular: "Aeonik-Regular";
  --font-aeonik-bold: "Aeonik-Bold";
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: var(--font-space);
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-main);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-reduced-motion:no-preference){
  :root{
      scroll-behavior:smooth
  }
}

@media screen and (max-width: 1680px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 736px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 12px;
  }
}

body {
  background-color: var(--bg-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.15rem;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  overflow-y: scroll;
}